*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background: linear-gradient(135deg, #4a67df, #2fd6cb);
    background-color: #f5f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container{
    background-color: #ffffff;
    background: linear-gradient(135deg, #4a67df, #2fd6cb);
    padding: 2rem;
    border-radius: 20px;
    border: 7px solid #ffffff;
    border-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    width: 350px;
    height: 500px;
    text-align: center;
    
  animation: aparecer 0.8s ease;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.logo{
    width: 100px;
    margin-bottom: 1rem;
}

h1{
    color: #faf4f4;
    margin-bottom: 1.5rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-color: #ffffff;
}
label{
    text-align: left;
    color: #0a0000;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus{
    border-color: #6e84ff;
}
button{
    background-color: #6e84ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover{
    background-color: #5b6de3;
}
.esqueceu{
    display: block;
    margin-top: 10px;
    color: #6e84ff;
    font-size: 13px;
    text-decoration: 0;
}
.esqueceu:hover{
    color: #3b49b8;
}



